<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wp.week.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.wp.week.model.UserDto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="dept" property="dept" jdbcType="INTEGER" />
    <result column="rule" property="rule" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, dept, rule,status, update_time, create_time
  </sql>
  <sql id="SqlClumns" >
    id id,
    username username,
    password password,
    sex sex,
    dept dept,
    rule rule,
    status status,
    remark remark,
    update_time updateTime,
    create_time createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getUserByName" resultType="com.wp.week.model.UserDto">
        select
        <include refid="Base_Column_List" />
        from tb_user
        where username = #{username}
    </select>

  <select id="getUsers" resultType="com.wp.week.model.UserVO">
    select
    id id,
    username username,
    case dept
    when 1 then '接口组'
    when 2 then '测试&amp;运维组'
    when 3 then '后台组'
    when 4 then '产品组'
    when 5 then 'APP组'
    when 6 then '特殊组'
    else '黑户'
    end dept,
    sex sex,
    if(ISNULL(remark) ,'未填写',remark) remark,
    if(rule=1,'管理员','普通员工') rule,
    if(status =1 ,'正常使用','已封号') status,
    update_time updateTime,
    create_time createTime
    from tb_user
    order by status desc
--     where status = 1;
  </select>
  <select id="getUserInfo" resultType="com.wp.week.model.UserDto">
    select
    <include refid="SqlClumns"/>
    from tb_user
    where username = #{username}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wp.week.model.UserDto" >
    insert into tb_user (id, username, password, 
      dept, rule,status, update_time,
      create_time,sex,remark)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{dept,jdbcType=INTEGER}, #{rule,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},#{updateTime,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=TIMESTAMP},#{sex},#{remark})
  </insert>
  <insert id="insertSelective" parameterType="com.wp.week.model.UserDto" >
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="dept != null" >
        dept,
      </if>
      <if test="rule != null" >
        rule,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        #{dept,jdbcType=INTEGER},
      </if>
      <if test="rule != null" >
        #{rule,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wp.week.model.UserDto" >
    update tb_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        dept = #{dept,jdbcType=INTEGER},
      </if>
      <if test="rule != null" >
        rule = #{rule,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        rule = #{sex,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        rule = #{remark,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
          status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wp.week.model.UserDto" >
    update tb_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      dept = #{dept,jdbcType=INTEGER},
      rule = #{rule,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>